.pkg_row { padding-bottom:20px; }
.pkg_row .pkg_col {padding-bottom:20px; text-align:center;}
.package_con { width:260px; height:200px; position:relative; overflow:hidden; display:inline-block; background:#444; }
.package_con:hover .package_details {top:0;text-decoration:none;}
.package_con:hover .cmng_soon{top:-200px;}
.package_img { width:100%; height:200px; }
.package_img img { width:100%; height:200px; }

.package_details { width:100%; height:200px; background:url(../images/alpha-300-200.png) top left repeat; position:absolute; top:132px;-webkit-transition: all 0.2s ease;-moz-transition: all 0.2s ease;-o-transition: all 0.2s ease;transition: all 0.2s ease; text-align:left; left:0;}
.package_details:focus {top:0;text-decoration:none;}
.package_details h4{font-size:16px; color:#fff;padding:0 10px; margin:8px 0 5px 0;}
.package_details p{font-size:12px; color:#fff; padding:0 10px;}
.package_details .tourcode_itn {color: #fcb040;font-size: 11px;margin:0;padding: 0 10px;}
.package_type_label {background:#353435;border: 1px solid #fcb040;color: #fcb040;display: block;font-size: 11px;height: 23px;padding: 3px 10px;position: absolute;right: 0;top: 167px;width: auto;z-index: 20;}
.package_details ul{float:left;padding:0;width:100%; height:auto;margin-top:5px; padding:0 10px;}
.package_details ul li i.icon_sigth_map{margin:3px 8px 0 0;}
.package_details ul li{list-style:none; color:#fff;width:50%; float:left; font-size:12px; padding-bottom:2px;}
.package_con:hover .package_details {top:0;text-decoration:none;}
.book_now_wrap{width:100%; height:auto;float:left;background:#fcb040;position:absolute;bottom:0; left:0; padding:10px 0;text-align:right; -moz-transition:0.4s;-ms-transition:0.4s;-o-transition:0.4s;-webkit-transition:0.4s;transition:0.4s;}
.package_details .book_now_wrap span{font-size:22px; color:#353435;text-align:right; text-decoration:none;padding-right:15px; float:right;}
.package_details .book_now_wrap span i { float:right; margin:11px 0 0 10px; }
.package_details .bk_nw_price{background-color: #353435;border: 2px solid #fcb040;bottom: 25px;color: #fcb040;font-size: 12px;height: auto;left: 10px;padding: 5px 25px 5px 10px;position: absolute;width: auto;z-index: 20;line-height: 8px;}
.package_details .bk_nw_price b{font-size:24px; color:#fcb040;display:block;font-weight:normal;line-height:26px;}
.package_icon { position:absolute;width:43px; height:43px; display:block;right:10px;top:10px;z-index:20;}
.package_details .book_now_wrap:hover { background:#353435; }
.package_details .book_now_wrap:hover span { color:#fff; }
.package_details .book_now_wrap:hover span i.icon_book_arrow{ background-position: -241px -31px; }